<div id="content-general">
  <header>
    <img src="https://i.pinimg.com/originals/78/aa/76/78aa765938c85730e8610c2888fb4c2d.png" alt="pokemon">
  </header>
  <div id="pokeContainer">
    <span (click)="getDataPokemon(item)" id="pokeCard" *ngFor="let item of pokemonList">
      <img [src]="item.sprites.front_default" alt="">
      <span>
        {{item.name | titlecase}}
      </span>
      <div class="types">
        <span [style.backgroundColor]="pokemonTypeColors[type.type.name]" *ngFor="let type of item.types">
          {{type.type.name}}
        </span>
      </div>
    </span>
  </div>
  <app-info-card (dataPokemonEmit)="dataPokemonChildren($event)" (statusModalChangeEmit)="statusModalChangeChildren($event)" [pokemon]="dataPokemon" [statusModal]="statusModal"></app-info-card>
  <footer>
    <button (click)="prevPage()" class="prev" [style.cursor]="prev === null ? 'not-allowed' : 'pointer'" [disabled]="prev === null" ><img src="../assets/image.png" alt=""></button>
    @if (currentPage > 4) {
      <button class="pagination" (click)="changeListPagination(1)">1</button>
      <span>...</span>
    }
    @for (item of listPagination; track $index) {
      <button class="pagination" (click)="changeListPagination(item)">{{item}}</button>
    }
    @if (currentPage < cantidadDePaginas - 4) {
      <span>...</span>
      <button class="pagination" (click)="changeListPagination(cantidadDePaginas)">{{cantidadDePaginas}}</button>
    }
    <button (click)="nextPage()" class="next" [disabled]="next === null"><img src="../assets/image.png" alt=""></button>
  </footer>
</div>
