<div id="content-general">
  <header>
    <img src="https://i.pinimg.com/originals/78/aa/76/78aa765938c85730e8610c2888fb4c2d.png" alt="pokemon">
  </header>
  <div id="pokeContainer">
    <span (click)="getDataPokemon(item)" id="pokeCard" *ngFor="let item of pokemonList">
      <img [src]="item.sprites.front_default" alt="">
      <span>
        {{item.name | titlecase}}
      </span>
      <div class="types">
        <span [style.backgroundColor]="pokemonTypeColors[type.type.name]" *ngFor="let type of item.types">
          {{type.type.name}}
        </span>
      </div>
    </span>
  </div>
  <app-info-card (dataPokemonEmit)="dataPokemonChildren($event)" (statusModalChangeEmit)="statusModalChangeChildren($event)" [pokemon]="dataPokemon" [statusModal]="statusModal"></app-info-card>
  <footer>
    <button (click)="getPokemons(prev)" [style.cursor]="prev === null ? 'not-allowed' : 'pointer'" [disabled]="prev === null" >Prev</button>
    <button (click)="getPokemons(next)" [disabled]="next === null">Next</button>
  </footer>
</div>
